<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">CCA 2017:</p>
      <p class="body">CCA 2017 will  be held in Rome, Italy on June 4 - 6, 2017.</p>

      <p class="bold">Deadline Extension:</p>
      <p class="body">Due to the popular request, the paper submission deadline is extended to March 24, 2017. This is the final deadline extension and the deadlines will not be extended anymore.</p>

      <p class="bold">EECSS'17 Workshop</p>
      <p class="body">As per popular request, the organizing committee has decided to extend the EECSS'17 congress to three days (now June 4 - 6, 2017). The new high-level schedule is as follows:</p>

      <ul>
        <li>Day 1: Workshop(s) and Registration</li>
        <li>Day 2: Main Track Conference Sessions</li>
        <li>Day 3: Main Track Conference Sessions and Gala dinner or Cruise tour</li>
      </ul>
      
      <p class="body">Registration for the workshop will be 122 EURs (VAT included) and separate from the main conferences. Workshop attendees will receive a certificate of participation. For registration, please visit: <a href="../registration" class="body-link">here</a>.</p>

      <p class="body">More information to follow; we greatly appreciate your patience!</p>
<!-- 
      <p class="bold">Poster Board Dimensions:</p>
      <p class="body">Authors presenting via poster boards are to be informed that poster boards are 110 cm height and 80 cm width.</p> -->
    </div>          
    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>
    <div>
      <h2 class="title">3</h2>
      <p class="bold">Propose Exhibits, Workshops & More</p>
      <p class="body">CCA attracts a wide range of researchers in the field of cloud computing and applications. As a prominent company in the field of computing and applications, we would like to offer you an exhibit at CCA. Please visit <a href="../events" class="body-link">Events</a> for more information.</p>
    </div>

  </div>